.heroBanner {
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-background-color, #25C2A0);
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), 
              url('/img/preview.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 60px); /* Adjust height to cover viewport minus navbar height */
  margin-top: -60px; /* Overlap with navbar */
  min-height: 100vh; /* Ensure header covers the entire viewport height */
}

.discordLogo {
  height: 22px; /* Adjust the height as needed */
  margin-bottom: -3.5px; /* Adjust the margin to move it down */
  margin-right: 2.5px; /* Adjust the margin to create space between image and text */
}


.hero-content {
  text-align: center;
  color: #fff; 
  position: relative;
  z-index: 1;
}

.hero__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem; 
}

.hero__title_text {
  color: #fff;
  font-size: 2.5rem;
}

.hero__badge {
  height: 60px;
  margin-left: 10px;
  vertical-align: middle;
}

.hero__subtitle {
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.buttons {
  margin-top: 1rem;
}

.buttonZoom {
  transition: transform 0.2s ease-in-out;
}

.buttonZoom:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
